# DICTIONARY
- string ' '
- list []
- tuple ()
- set {}
- dictionary {key:value}

In [6]:
# ZIP
#Python zip() method takes iterable containers and returns a single iterator object, having mapped values from all the containers.
#It is used to map the similar index of multiple containers so that they can be used just using a single entity.
# ** If multiple List length is not equal/same then Zip will not work 
names=['Ramesh', 'Suresh','Prakash']
age=[20,30,40]
for i,j in zip(names,age):
    print(i,j)
    
list(zip(names,age))

Ramesh 20
Suresh 30
Prakash 40

[('Ramesh', 20), ('Suresh', 30), ('Prakash', 40)]

In [7]:
# INITIALIZATION
# Create all possible types  of dictionary
#Keys should be unique
# Values can be duplicate; ie diff keys can have same value3
# List Cannot be a Key, coz ist are mutable 
#Tuple Can be a Key coz they are immutable
#In order to get value from dictionary ,use the key.


d1=['Ramesh':20, 'Suresh':30,'Prakash':40]
d2=['Ramesh':'20', 'Suresh':'30','Prakash':'40']

d3=[20:'Ramesh', 30:'Suresh',40:'Prakash']
d4={25:50}
d5={'Fruits',['Apple','Cherry']}
d6={['Apple','Cherry']:'Fruits'}
d7={('Apple','Cherry'):'Fruits'}
d8={'Ajay':25, 'Ajay':30}
d9={25:'Ajay', 30:'Ajay'}
d10={'Fruites':{'Mango':25}}

SyntaxError: invalid syntax (Temp/ipykernel_10368/1885018428.py, line 9)

In [11]:
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}



max(d1)

'Suresh'

In [12]:
d2={'Ramesh':'20', 'Suresh':'30','Prakash':'40'}
max(d2)

'Suresh'

In [13]:
d3={20:'Ramesh', 30:'Suresh',40:'Prakash'}
max(d3)

40

In [15]:
d4={'Ramesh':20, 'Suresh':'30','Prakash':40}
max(d4)

'Suresh'

In [16]:
d5={20:'Ramesh', '30':'Suresh',40:'Prakash'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
d6={20:'Ramesh', 20:'Suresh',20:'Prakash'}
max(d6)

20

In [21]:
#Reversed- ONly keys willcome in reversed

d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
list(reversed(d1))

d2={'Ramesh':'20', 'Suresh':'30','Prakash':'40'}
list(reversed(d2))

['Prakash', 'Suresh', 'Ramesh']

In [22]:
# Sorted

d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
sorted(d1)

['Prakash', 'Ramesh', 'Suresh']

In [23]:

d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
list(sorted(d1, reverse= True))

['Suresh', 'Ramesh', 'Prakash']

In [24]:
# IN 

d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
for i in d1:
    print(i)

Ramesh
Suresh
Prakash

In [26]:
# Dictionary is akey value pair
# We cannot use index number directly
#When ever you wwant to rretrieve ava lue you need to use key
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
d1['Ramesh']

20

In [27]:
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
for i in d1:
    print(f"{i} has age {d1[i]}")

Ramesh has age 20
Suresh has age 30
Prakash has age 40

In [28]:
name={'Ramesh', 'Suresh','Prakash'}
age =d1={20,30,40}

In [32]:
# DICTIOANARY TO LIST
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
klist=[]
vlist=[]
for i in d1:
    klist.append(i)
    vlist.append(d1[i])
print(klist)
print(vlist)

['Ramesh', 'Suresh', 'Prakash']
[20, 30, 40]

In [35]:
# ********CREATE LIST FROM DICTIOANRY************
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
klist=[]
vlist=[]
klist=[i for i in d1]
vlist=[d1[i] for i in d1]
print(klist)
print(vlist)

['Ramesh', 'Suresh', 'Prakash']
[20, 30, 40]

In [40]:
#*** Empty Dictioanry***
d={}
#d[<Key>]=[<Value>]
d['Abhishek']=30
d['Mohit']=25
d

{'Abhishek': 30, 'Mohit': 25}

In [43]:
# Create Dictoanry From LIST*****************

name={'Ramesh', 'Suresh','Prakash'}
age =d1={20,30,40}
e={}

for i,j in zip(name,age):
    e[i]=j
e

{'Prakash': 40, 'Suresh': 20, 'Ramesh': 30}

In [46]:
# String to List
s='hello hai how are you'
p=[]
p=s.split()
p

['hello', 'hai', 'how', 'are', 'you']

In [48]:
# Word Frequency Program
s='hello hai hai how how are you'
g=[]
g=s.split()
g
d={}
c=0
for i in g:
    if d[i] is true:
        c= d[i]+1
        d[i]=c
    else:
        d[i]=1
print(d)

KeyError: 'hello'

In [50]:
# Word Frequency Program
s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [53]:
string1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

str=string1.split()
str

['Data',
 'science',
 'is',
 'an',
 'interdisciplinary',
 'academic',
 'field',
 'that',
 'uses',
 'statistics,',
 'scientific',
 'computing,',
 'scientific',
 'methods,',
 'processes,',
 'scientific',
 'visualization,',
 'algorithms',
 'and',
 'systems',
 'to',
 'extract',
 'or',
 'extrapolate',
 'knowledge',
 'and',
 'insights',
 'from',
 'potentially',
 'noisy,',
 'structured,',
 'or',
 'unstructured',
 'data.',
 'Data',
 'science',
 'also',
 'integrates',
 'domain',
 'knowledge',
 'from',
 'the',
 'underlying',
 'applicatin.Data',
 'science',
 'is',
 'multifaceted',
 'and',
 'can',
 'be',
 'described',
 'as',
 'a',
 'science,',
 'a',
 'research',
 'paradigm,',
 'a',
 'research',
 'method,',
 'a',
 'discipline,',
 'a',
 'workflow,',
 'and',
 'a',
 'profession.']

In [54]:
# Mutable & IMMutable
#Dictioanry does not have index and there fore cannot change value using index
#We need to use Key to chage value in Dictioanr
#If value is changed then its Mutable , if value is not changing then ist IMMUTABLE
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
d1['Ramesh']=30
d1

{'Ramesh': 30, 'Suresh': 30, 'Prakash': 40}

In [55]:
****List & Dictioanry are mutable
***Tuple & Strings are IMMUTABLE

SyntaxError: invalid syntax (Temp/ipykernel_10368/2761858309.py, line 1)

In [60]:
d={'Fruites':['Mango']}
x=d['Fruites'][0]
x

'Mango'

In [63]:
d={'Fruites'[{'Apple':['Kashmir']}]}
d['Fruites'][0]['Apple'][0]

<>:1: SyntaxWarning: str indices must be integers or slices, not dict; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not dict; perhaps you missed a comma?
C:\Users\abhis\AppData\Local\Temp/ipykernel_10368/857441994.py:1: SyntaxWarning: str indices must be integers or slices, not dict; perhaps you missed a comma?
  d={'Fruites'[{'Apple':['Kashmir']}]}

TypeError: string indices must be integers

In [64]:
d={'Fruites':[
    {'Apple':
     {'Kashmir':
      ['India']
     }
    }
     ]
  }
d['Fruites'][0]['Apple'][]

SyntaxError: invalid syntax (Temp/ipykernel_10368/3556961233.py, line 9)

In [66]:
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Prakash'])

In [67]:
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
d1.values()

dict_values([20, 30, 40])

In [68]:
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Prakash', 40)])

In [75]:
#METHOD 1
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
keys,values = [],[]
for i in d1:
    print(i, d1[i])
    keys.append(i)
    values.append(d1[i])
keys
values

Ramesh 20
Suresh 30
Prakash 40

[20, 30, 40]

In [76]:
#METHOD 2
#Dictionary key will give dictionary keys items in a list
#It looks like a list but its notv a list
#Which means we cannot apply List method
#So we need to convert to list type by using list type casting
d2={'Ramesh':20, 'Suresh':30,'Prakash':40}
#list[d2.keys()]
list(d2.keys()), list(d2.values())

(['Ramesh', 'Suresh', 'Prakash'], [20, 30, 40])

In [77]:
#METHOD 3
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
for i in d1.items():
    print(i)

('Ramesh', 20)
('Suresh', 30)
('Prakash', 40)

In [88]:
keys, values=[], []
d1={'Ramesh':20, 'Suresh':30,'Prakash':40}
for i,j in d1.items():
    print(i ,j)
    keys.append(i)
    values.append(j)
keys,values

Ramesh 20
Suresh 30
Prakash 40

(['Ramesh', 'Suresh', 'Prakash'], [20, 30, 40])

In [87]:
a=10