#List Comprehension
-We can store output value using append operation
-We are taking empty list & we are iterating through element from a given ist
-The result we are appending in a new list

In [5]:
#quare=[]
#for i in range(10):
 #   square.append(i**2)
#square

#There are 3 lines in progress
#These 3 lines can be converted in to 1 line
#This is called List Comprehension
# Syntax:-  [<output> <for Loop>]
#In aove example what is output:? Ans:- i*i
# What is the output List Name >:- Ans:- square
#What is the for loop? Ans:- for i in range(10)

square=[i*i for i in range(10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
#l1=['hyd', 'mumbai', 'chennai', 'blr']--> Convert to upper cse
L1=['hyd', 'mumbai', 'chennai', 'blr']
Upper=[]
Upper=[i.upper() for i in L1]
Upper

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [13]:
#l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']--> Convert to lower cse
L1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
Lower=[]
Lower=[i.lower() for i in L1]
Lower

['hyd', 'mumbai', 'chennai', 'blr']

In [17]:
#l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']--> Sum Of Indexes of all element
sum=0
l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
#sum=(sum=sum+i for i in range(len(l1)))
for i in range(len(l1)):
    print(i)
    sum=sum+i
sum

0
1
2
3

6

In [3]:
l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
Sum_List=[i for i in range(len(l1))]
sum(Sum_List)

6

In [ ]:
#Making empty list will not work in Comprehension
#Initialization will not work in Comprehension
#Assignment Operation will not work in Comprehension

# PATTERN 2
-for loop-if condition
<output>  <for loop> <if condition>

In [6]:
#l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']--> find elements length>4
#l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
#list1=[]
#for i in l1:
#    if len(i)>4:
#        print(i)
l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
list1=[]
list1=[i for i in l1 if len(i)>4]
list1

['Mumbai', 'Chennai']

In [13]:
#l1=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']--> Find element with #
L1=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']
list2=[ i for i in L1   if i.find('#')>=0]
list2

['Mum#bai', 'Chen#nai']

In [12]:
#dir (' ')

L1=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']
list2=[ i for i in L1   if i.find('#')>=0]
list2

['Mum#bai', 'Chen#nai']

In [18]:
#l1=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']--> Find element with first letter as capital
L1=['Hyd', 'Mumbai', 'chen#nai', 'blr']
list2=[ i for i in L1   if i.istitle()]
list2

['Hyd', 'Mumbai']

In [32]:
# Str1= 'Virat.Kohli@rcb.com', 'Rohit.Sharma@mi.com','KL.Rahul@lucknow.com'
    Str1= 'Virat.Kohli@rcb.com,Rohit.Sharma@mi.com,KL.Rahul@lucknow.com'
    list1=Str1.split(',')
    fname=[i[:i.index('.')] for i in list1]
    fname
    lname=[i[i.index('.')+1:i.index('@')] for i in list1]
    lname
    cname=[i[i.index('@')+1:i.index('.',i.index('@'))] for i in list1]
    cname

IndentationError: unexpected indent (Temp/ipykernel_13372/1128860117.py, line 2)

# PATTERN3
<ifoutput>  <if>  <else>   <else_output>  <for>:  if-else

In [33]:
#iEvn or Odd
op_list=[]
[op_list.append(f"even:{i}") if i%2 else op_list.append(f"odd:{i})"  for i in range(20)]
print(op_list)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (Temp/ipykernel_13372/3947941481.py, line 3)